$app-footer-padding: 0.5rem;
app-footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $app-footer-padding 0;
  background-color: #efefef;
  text-align: center;
}

perfect-scrollbar {
  max-height: calc(100vh - 4.7rem);  // to offset header and footer
  min-height: 50vh;
}