/* You can add global styles to this file, and also import other style files */
@import '~simple-css-reset/reset.css';

html, body {
  padding: 0;
  margin: 0;  // this is important for perfect-scrollbars to work
  overflow-y: hidden;   // this is important for perfect-scrollbars to work
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@import '~tixif-ngx-busy/build/style/busy.css';

// Needed to ensure smaller mennubar when I am not using font-awesome
.ui-menu.ui-menubar .ui-menubar-root-list>li>a>.ui-submenu-icon {
  float: left;
}