/* You can add global styles to this file, and also import other style files */
@import '~simple-css-reset/reset.css';
// button style in above reset.css is not nice! so resetting.
button{
  padding: 1px 6px;
  background-color: buttonface;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
}

html, body {
  padding: 0;
  margin: 0;  // this is important for perfect-scrollbars to work
  overflow-y: hidden;   // this is important for perfect-scrollbars to work
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// Needed to ensure smaller mennubar when I am not using font-awesome
.ui-menu.ui-menubar .ui-menubar-root-list>li>a>.ui-submenu-icon {
  float: left;
}

.busy-indicator{
  position: absolute;
  z-index: 1000;
  background-color: #ffffffdd;
  &.hide{
    display: none;
  }
  &.full-page{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .spinner {
    width: 40px;
    height: 40px;
    margin: 1px auto;
    background-color: palevioletred;
  
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
}
@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

$scrollbar-color: #38bdf9;
.ps__rail-x > .ps__thumb-x,
.ps__rail-x:focus>.ps__thumb-x, 
.ps__rail-x:hover>.ps__thumb-x {
  background-color: $scrollbar-color !important;
}

.ps__rail-y >.ps__thumb-y,
 {
  background-color: $scrollbar-color !important;
}

.ps__rail-x:hover,
.ps__rail-y:hover,
.ps__rail-x:focus,
.ps__rail-y:focus,
.ps.ps--scrolling-y>.ps__rail-y {
  background-color: lighten($color: $scrollbar-color, $amount: 30%) !important;
}
